@import "bootstrap/dist/css/bootstrap.min.css";

p#exuse {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
p#encabezado {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
}
